<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <title>insta check!</title>

    <script type="text/javascript">
        $(function() {
            $('#option2').on('click', function(e) {
                $(this).button('toggle')
            });
        });
    </script>
</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">Insta Check!</h1>
      <p class="lead">
        Бывали ли у тебя случаи, когда ты подписался(ась) на человека, и ждёшь пока он(она) взаимно подпишется на тебя ? Наверняка! Но бывают печальные ситуации в жизни, когда человек не подписывается на тебя взаимно, и ты вовсе забываешь о той подписке на него. Также, вероятно, у тебя было такое, что человек от тебя отписывается, а ты, этого и не зная, всё лайкаешь и лайкаешь его не интересные публикации.
        Пора с этим бороться!
        Я придумал и реализовал сервис который поможет тебе с лёгкостью обнаружить таких плохих людей.
      </p>
      <hr class="my-4">
        <div class = "row">
            <div class = "col-md-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Telegram</h5>
                    <a href="https://t.me/yandex777" class="card-link">@yandex777</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">VK</h5>
                    <a href="https://vk.com/mytools" class="card-link">/mytools</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Instagram</h5>
                    <a href="https://www.instagram.com/g.danil.d/" class="card-link">@g.danil.d</a>
                  </div>
                </div>
            </div>

            <div class = "col-md-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">GitHub</h5>
                    <a href="https://github.com/gdanild" class="card-link">gdanild</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
