<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/met.js"></script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48318677" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
     <meta name="keywords" content="Insta instagram follow following подписки подписчики инста инстаграм" />
     <meta name="description" content="Узнайте, кто не подписан на вас из ваших близких в Instagram. Проверье своих подписок и подписчиков" />
    <title>Инстаграм подписчики!</title>
</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">Проверка подписчиков в Инстаграм!</h1>
      <p class="lead">
        Бывали ли у тебя случаи, когда ты подписался(ась) на человека, и ждёшь пока он(она) взаимно подпишется на тебя ? Наверняка! Но бывают печальные ситуации в жизни, когда человек не подписывается на тебя взаимно, и ты вовсе забываешь о той подписке на него. Также, вероятно, у тебя было такое, что человек от тебя отписывается, а ты, этого и не зная, всё лайкаешь и лайкаешь его не интересные публикации.
        Пора с этим бороться!
        Я придумал и реализовал сервис который поможет тебе с лёгкостью обнаружить таких плохих людей.
      </p>
      <hr class="my-4">
        <div class = "row">
            <div class = "col-md-2">
                <div class="card">
                  <div class="card-header">

                    <div class = "row">
                      <div class = "col-md-4">
                          <img width="45" height="45" src="/static/images/telegram.jpg" class="rounded-circle">
                      </div>
                      <div class = "col-md-8">
                          <h5 >Telegram</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                      <a href="http://t.me/yandex777" target="_blank" class="card-link">@yandex777</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="card">
                  <div class="card-header">

                    <div class = "row">
                      <div class = "col-md-4">
                          <img width="45" height="45" src="/static/images/vk.jpg" class="rounded-circle">
                      </div>
                      <div class = "col-md-8">
                          <h5 >VK</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="https://vk.com/mytools" target="_blank" class="card-link">/mytools</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="card">
                  <div class="card-header">

                    <div class = "row">
                      <div class = "col-md-4">
                          <img width="45" height="45" src="/static/images/insta.jpg" class="rounded-circle">
                      </div>
                      <div class = "col-md-8">
                          <h5 >Instagram</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="https://www.instagram.com/g.danil.d/" target="_blank" class="card-link">@g.danil.d</a>
                  </div>
                </div>
            </div>

            <div class = "col-md-2">
                <div class="card">
                  <div class="card-header">
                      <div class = "row">
                          <div class = "col-md-4">
                              <img width="45" height="45" src="/static/images/github.jpg" class="rounded-circle">
                          </div>
                          <div class = "col-md-8">
                              <h5 >GitHub</h5>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <a href="https://github.com/gdanild" target="_blank" class="card-link">gdanild</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
