<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/static/js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(function() {
            let a = 1
            $('button').on('click', function(e) {
                $(this).hide()
                console.log("LOL");
                $('img').removeClass("invisible");
            });
        });
    </script>

    <style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* The image used */
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
    <title>insta check!</title>
</head>

<body>
    <div class = "bg">
        {{ip}}
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4">
                </div>
                <div class = "col-md-4">
                    <h2>Insta check follow</h2>
                    <form action="/result" method="POST">
                      <div class="form-group">
                          {{form.author.label(class="form-label")}}
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">@</div>
                            </div>
                            {{form.author(class="form-control", placeholder="login")}}
                          </div>
                      </div>
                      <div class="form-group">
                          {{form.message.label(class="form-label")}}
                          {{form.message(class="form-control", placeholder="password")}}
                      </div>
                      <button type="submit" class="btn btn-success form-control">Check</button>
                    </form>

                    <a href="/about_us">Что это такое ?</a>
                    {% if error_login == True%}
                    <div class="alert alert-warning" role="alert">{{ mes }}</div>
                    {% endif %}
                    <div class="text-center">
                      <img class = "invisible w-75 p-3 rounded-circle" src="/static/images/lol.gif" alt="Загрузка...">
                    </div>
                </div>
                <div class = "col-md-4">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
