<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">

    <title>insta check!</title>
</head>
<body bgcolor=#C0C0C0>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                LOL
            </div>
            <div class = "col-md-6">
                <h1>Insta</h1>
                <h2>Check folow</h2>

                <form action="/" method="POST">
                  <div class="form-group">
                      {{AddPostForm.author.label(class="form-label")}}
                      {{AddPostForm.author(class="form-control", placeholder="Dmitry Sluch")}}


                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Check</button>
                </form>

                {% if lol == 0%}
                <div class="alert alert-warning" role="alert">
                    Please check login or password!
                </div>
                {% elif lol == 3%}
                <div> {{users}} </div>
                {% endif %}
            </div>
        </div>

    </div>

    <p><a href="/about_us">О проекте</a></p>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
