<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* The image used */
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
    <title>insta check!</title>
</head>
<body bgcolor=#C0C0C0>
<body>
    <div class = "bg">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4">
                </div>
                <div class = "col-md-4">
                    <h1>Insta</h1>
                    <h2>Check folow</h2>

                    <form action="/result" method="POST">
                      <div class="form-group">
                          {{form.author.label(class="form-label")}}
                          {{form.author(class="form-control", placeholder="login")}}
                      </div>
                      <div class="form-group">
                          {{form.message.label(class="form-label")}}
                          {{form.message(class="form-control", placeholder="password")}}
                      </div>
                      <button type="submit" class="btn btn-success">Check</button>
                    </form>

                    <p><a href="/about_us">What is it ?</a></p>

                    {% if lol == 0%}
                    <div class="alert alert-warning" role="alert">
                        Please check login or password!
                    </div>
                    {% elif lol == 3%}
                    <div> {{users}} </div>
                    {% endif %}
                </div>
                <div class = "col-md-4">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
