<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/static/js/jquery-3.3.1.min.js"></script>

    <title>insta check!</title>
</head>

<body>


    <div class = "container">
        <div class = "row">
            <div class = "col-auto">
                <b>ips use:</b>
                <hr>
                {% for i in ips %}
                <div> {{i}} </div>
                {% endfor %}
            </div>
            <div class = "col-auto">
                <b>logins use:</b>
                <hr>
                {% for b in logins %}
                <div> {{b}} </div>
                {% endfor %}
            </div>
        </div>
    </div>



</body>
</html>
